* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #546854;
    text-align: center;
}

.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    align-items: center;
    

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    color: #604160;
    background-color: #ffff;
}

#reaet-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#msg {
    counter-reset: #ffff;
    font-size: 8vmin;
}

.hide {
    display: flex;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}